*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 500px;
    
    background-color: aqua;
}
.container .image{
 width: 20%;
 height: 50%;
float: right;
 
}
.container .image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container .text{
    width: 79%;
    height: 50%;
    float: left;

}
.clear{
    clear: both;
}